[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
paho-mqtt = "~=1.6"
psutil = "~=5.9"
jetson-stats = { version = "~=3.1", markers = "'tegra' in platform_release" }
numpy = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.7"
